# Node
node_modules/
*.log
.next/
.dist/

# Python
__pycache__/
.pytest_cache/
*.egg-info/
build/

# Env & tooling
.env*
.DS_Store
.vscode/

# Coverage
coverage*
.coverage

# Ignore external auth example workspace
istampit-web/external-auth/
