[submodule "istampit-action"]
	path = istampit-action
	url = ../istampit-action.git
	branch = main
[submodule "istampit-auth"]
	path = istampit-auth
	url = ../istampit-auth.git
	branch = main
[submodule "istampit-cli"]
	path = istampit-cli
	url = ../istampit-cli.git
	branch = main
