name: Action CI
on:
  push:
    paths: ["istampit-action/**", ".github/workflows/action.yml"]
  pull_request:
    paths: ["istampit-action/**", ".github/workflows/action.yml"]
permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Lint YAML
        run: |
          pip install yamllint
          yamllint istampit-action/action.yml
